/* Fondo general */
html {
  background-color: #ff75ae; /* baby pink */
  font-size: 10px;
}

/* Diario centrado */
body {
  width: 30vw;
  margin: 60px auto;
  background-color: #f7d2decf; /* rosa suave */
  color: #6f5b63;
  font-family: "Saira", sans-serif;
  padding: 35px 45px;
  border-radius: 28px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.18);
}

/* Título principal */
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 6.4rem;
  text-align: center;
  color: #d10099;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

/* Emoji del título */
h1 span {
  font-size: 4rem;
  vertical-align: middle predominante;
}

h1::after {
  content: "♡";
  display: block;
  font-size: 2.6rem;
  color: #c98fa6;
  margin-top: 10px;
}

/* Subtítulos */
h2 {
  font-size: 2.8rem;
  text-align: center;
  color: #a4506c;
  margin-top: 45px;
}

/* Texto */
p, li {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.5px;
}

/* Lista */
ul {
  padding-left: 25px;
}

/* Imagen */
img {
  display: block;
  margin: 30px auto;
  max-width: 100%;
  border-radius: 22px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.25);
}
