/* Fondo general */
html {
  background-color: #f8c8dc; /* baby pink */
  font-size: 10px;
}

/* Tarjeta del diario */
body {
  width: 600px;
  margin: 60px auto;
  background-color: #fff0f5; /* rosa muy suave */
  color: #6f5b63;
  font-family: "Saira", sans-serif;
  padding: 30px 40px;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* Título principal */
h1 {
  margin: 0;
  padding: 20px 0;
  font-family: 'Playfair Display', serif;
  font-size: 5.6rem;
  text-align: center;
  color: #8b5d6c;
}

/* Subtítulo */
h2 {
  font-size: 2.6rem;
  text-align: center;
  color: #a4506c;
}

/* Texto */
p, li {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0.5px;
}

/* Imagen */
img {
  display: block;
  margin: 25px auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Lista */
ul {
  padding-left: 20px;
}
